.grid {
  display: grid;
  background-color: brown;
  height: 300vh;
  width: 100vw;
  grid-gap: 10px;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: 150px auto 150px;
  grid-template-areas:
"a a a a a a a a a a a a a"
"b b b b b c c c c c d d d d d"
}

.box {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}

.a {
text-align: center;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.btn-group button {
background-color: #660033;
border: 1px dodgerblue solid;
color: black;
padding: 10px 24px;
cursor: pointer;
float: center;
}











